<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>69710365683-3hh1es8tc1j3svj9j7qoh0ke4vj3tgmk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.69710365683-3hh1es8tc1j3svj9j7qoh0ke4vj3tgmk</string>
	<key>API_KEY</key>
	<string>AIzaSyC1bvikAF2h3lhdK7QVaqDKy-DZN4-AKqA</string>
	<key>GCM_SENDER_ID</key>
	<string>69710365683</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-test-8bf7b</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-test-8bf7b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:69710365683:ios:52a6139e2f928eb0748886</string>
</dict>
</plist>